@model HotelProject.Models.HotelPreferencesViewModel

<form asp-controller="Recommender" asp-action="ProcessHotelPreferences" method="post">
    <div class="form-group">
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DistanceToCenter">Distance to Center:</label>
        <input asp-for="DistanceToCenter" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DistanceToPOI">Distance to Points of Interest:</label>
        <input asp-for="DistanceToPOI" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Stars">Stars:</label>
        <input asp-for="Stars" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

