@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="welcome-container">
    <h1>@ViewData["Title"]</h1>
    <p>This website is the engineering thesis work for named "Recommendation application with elements of artificial intelligence" written for Politechnika Wrocławska, 2023.</p>
</div>